<html>
    <head>
        <title>Javier's Website</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Welcome to Javier's Website</a></h1>
        </div>

        <div>
            <p>07/12/2019, 10:10am</p>
            <h2><a href="">Introduction</a></h2>
            <p>Hello, this is my first website powered by Django.</p>
        </div>

        <div>
            <p>published: 07/12/2019, 9:48am</p>
            <h2><a href="">내 소개한</a></h2>
            <p>안녕하세요. 저는 하비에르입니다. 대학교 학생입니다. 전 스페인어와 영어를 할 수 있는데 조금 한국어를 할 수 있어요.</p>
        </div>
    </body>
</html>